
{% extends "base_template.html" %}

{% block title %} Add Doctor {% endblock %} <!-- Creates page title  --!>

{% block topnav %}
    <a href="{% url 'show_user_list' %}" class="topnav active">Administration</a>
    <a href="{% url 'show_time_card' %}" class="topnav">Time Card Management</a>
    <a href="{% url 'show_time_card' %}" class="topnav">Reports</a>
{% endblock %}

{% block sidenav %}
    <a href="{% url 'show_user_list' %}" class="sidenav">Users</a>
    <a href="/" class="sidenav active">Doctors</a>
    <a href="{% url 'show_location_list' %}" class="sidenav">Locations</a>
    <a href="/" class="sidenav">Policy Manager </a>
{% endblock %}

{% block name %}
    Master Data - Add Doctor
{% endblock %}

{%block content%}
    <form class="form-horizontal" action="/add_doctor/" method="post">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">doctor information</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="First_name" name="First_name"
                       placeholder="First Name">
                <input type="text" class="form-control" id="Last_name" name="Last_name"
                       placeholder="Last Name">
                <input type="text" class="form-control" id="FileNumber" name="FileNumber"
                       placeholder="File Number">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
{% endblock %}