
{% extends "base_template.html" %}

{% block title %} Add Location {% endblock %} <!-- Creates page title  --!>

{% block topnav %}
    <a href="{% url 'show_user_list' %}" class="topnav active">Administration</a>
    <a href="{% url 'show_time_card' %}" class="topnav">Time Card Management</a>
    <a href="{% url 'show_time_card' %}" class="topnav">Reports</a>
{% endblock %}

{% block sidenav %}
    <a href="{% url 'show_user_list' %}" class="sidenav active">Users</a>
    <a href="{% url 'show_doctor_list' %}" class="sidenav">Master Data</a>
    <a href="/" class="sidenav">Policy Manager </a>
{% endblock %}

{% block name %}
    Users - Add User
{% endblock %}

{%block content%}
    <form class="form-horizontal" action="/add_user/" method="post">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">location</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="First_name" name="First_name"
                       placeholder="First Name">
                <input type="text" class="form-control" id="Last_name" name="Last_name"
                       placeholder="Last Name">
                 <input type="text" class="form-control" id="Description" name="Description"
                       placeholder="Description">
                 <input type="text" class="form-control" id="LoginIDOrEmail" name="LoginIDOrEmail"
                       placeholder="Login ID or Email">
                 <input type="text" class="form-control" id="Authority" name="Authority"
                       placeholder="Authority">
                 <input type="text" class="form-control" id="Password" name="Password"
                       placeholder="Password">
                 <input type="text" class="form-control" id="RetypePassword" name="RetypePassword"
                       placeholder="RetypePassword">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
{% endblock %}