{% extends "base_template.html" %}

{% block title %} Reports{% endblock %} <!-- Creates page title  --!>

{% block topnav %}
    <a href="{% url 'show_user_list' %}" class="topnav">Administration</a>
    <a href="{% url 'show_time_card' %}" class="topnav">Time Card Management</a>
    <a href="{% url 'show_time_card' %}" class="topnav active">Reports</a>
{% endblock %}

{% block sidenav %}
    <a href="{% url 'show_time_card' %}" class="sidenav active">View Report</a>
    <a href="{% url 'add_report' %}" class="sidenav">Add Report</a>

{% endblock %}

{% block name %}
    View Report
{% endblock %}


{%block content%}
<table>
    <tr>
        <th>Doctor Name</th>
        <th>Time_In </th>
        <th>Time_Out</th>
        <th>Location</th>
        <th>Sector</th>
        <th>Hours Code</th>
        <th>Hours Worked</th>
    </tr>
    {% for s in all_objects %}
    <tr>
      <td>{{ s.Doctor_name }}</td>
      <td>{{ s.Time_In }} </td>
      <td>{{ s.Time_Out }} </td>
      <td>{{ s.Location }}  </td>
      <td>{{ s.Sector }} </td>
      <td>{{ s.Hours_Code }} </td>
      <td>{{ s.Hours_Worked }}  </li>
    </tr>
    {% endfor %}
</table>
{% endblock %}