{% extends 'base_template.html' %}

{% block name %}Time Card {% end block %}

{% block topnav %}
        <a href="" class="topnav">Administration</a>
        <a href="/" class="topnav">Time Card Management</a>
        <a href="/" class="topnav">Reports</a>
{% endblock %}


{% block sidenav %}
        <a href="/" class="sidenav">View Time Card </a>
        <a href="/" class="sidenav">New Time Card</a>
{% endblock %}

{% block title %} View Time card {% endblock %}

{% block content %}
<p>Find Doctor: </p> <input type="text" name="docname"> SEARCH BOX HERE </input>
<input type="radio" name="calendar" checked>Calendar View</input>
<input type="radio" name="grid">Grid View</input>
<table>

</table>
{% endblock %}